.dhxgrid_sort_desc, .dhxgrid_sort_asc {
    background-image: url("imgs/dhxgrid_skyblue/sort_desc.gif");
    background-repeat: no-repeat;
    height: 8px;
    width: 9px;
}
.dhxgrid_sort_asc {
    background-image: url("imgs/dhxgrid_skyblue/sort_asc.gif");
    background-repeat: no-repeat;
}
